body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 3.5em;
}

.imgPrincipal {
  background-image: url('https://mdbootstrap.com/img/Photos/Others/images/77.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 80vh;
}


input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#nuevaTarea {
  width: 50%;
}

.btn-color {
  padding: 0px;
  border-radius: 5px;
  width: 30px;
  height: 35px;
  flex: none;
}

.btn-agregar:hover,
.lista-tareas button:hover {
  background-color: #cccccc6b;
  color: black;
}


.lista-tareas ul {
  list-style-type: none;
  padding: 0;
  min-width: auto;
  max-width: 60%;
  margin-top: 20px;
  margin-bottom: 15px;
  gap: 20px;
}

.lista-tareas li {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  gap: 10px;
  min-width: 200px;
  min-height: 200px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.236); 
  text-transform: capitalize;
}

.lista-tareas button {
  background-color: #f44336;
  color: #fff;
  cursor: pointer;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  font-weight: bold;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media screen and (max-width: 300px) {
  * {
    font-size: 12px;
  }
}